<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atmos.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1284,960}</string>
                <key>spriteSourceSize</key>
                <string>{1284,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{1284,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,120}</string>
                <key>spriteSourceSize</key>
                <string>{168,120}</string>
                <key>textureRect</key>
                <string>{{479,1082},{168,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,18}</string>
                <key>spriteSourceSize</key>
                <string>{78,18}</string>
                <key>textureRect</key>
                <string>{{1,1150},{78,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,120}</string>
                <key>spriteSourceSize</key>
                <string>{207,120}</string>
                <key>textureRect</key>
                <string>{{270,1082},{207,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,66}</string>
                <key>spriteSourceSize</key>
                <string>{267,66}</string>
                <key>textureRect</key>
                <string>{{1,1082},{267,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,108}</string>
                <key>spriteSourceSize</key>
                <string>{144,108}</string>
                <key>textureRect</key>
                <string>{{649,1082},{144,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{929,1082},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,132}</string>
                <key>textureRect</key>
                <string>{{795,1082},{120,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud_horizon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1284,117}</string>
                <key>spriteSourceSize</key>
                <string>{1284,117}</string>
                <key>textureRect</key>
                <string>{{1,963},{1284,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_clouds_atlas.png</string>
            <key>size</key>
            <string>{1286,1203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62eb706f14fa0ad354abf77032f6535:4b4ffb47f14ab1c1e424676708b5e2dc:42001e058d6ef1c405eed8ab8c29123b$</string>
            <key>textureFileName</key>
            <string>bg_clouds_atlas.png</string>
        </dict>
    </dict>
</plist>
