<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_poison_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{83,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_poison_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{166,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{249,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{332,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{415,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{498,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{581,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_left_star_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{664,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{747,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_poison_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{830,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_poison_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{913,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{996,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1079,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1162,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1245,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1328,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_right_star_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1411,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{1494,0},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_atlas.png</string>
            <key>size</key>
            <string>{1577,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d558a27d500f3cfa516224225de030ea:005868982ee85996a9b31fb3e7f72919:c2b271e8861ed765c0e8939e4e7bcfe9$</string>
            <key>textureFileName</key>
            <string>player_atlas.png</string>
        </dict>
    </dict>
</plist>
